@charset "utf-8";

.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.area {
  scroll-snap-align: start;
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 基本スタイル */
body {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.area:nth-child(even) {
  background-color: #0db;
}
.area:nth-child(odd) {
  background-color: #0bd;
}